<div class="container">
  <div class="row">

        <div class="font-weight-bold bg-light">マイページ</div>

      <div class="font-weight-bold">登録情報</div><%= link_to customers_edit_path, class:"btn btn-success" do %>編集する<% end %>
      <table border="1" class="table border-dark">
      <tbody class="">
        <tr><td>氏名</td><td><%= @customer.last_name %> <%= @customer.first_name %></td></tr>
        <tr><td>カナ</td><td><%= @customer.last_name_kana %><%= @customer.first_name_kana %></td></tr>
        <tr><td>郵便番号</td><td><%= @customer.postal_code %></td></tr>
        <tr><td>住所</td><td><%= @customer.address %></td></tr>
        <tr><td>電話番号</td><td><%= @customer.telephone_number %></td></tr>
        <tr><td>メールアドレス</td><td><%= @customer.email %></td></tr>
      </tbody>
      <tfoot class="table-borderless">
        <tr><td>配送先</td><td>一覧を見る</td></tr>
        <tr><td>注文履歴</td><td>一覧を見る</td></tr>
      </tfoot>
    </table>
  </div>
</div>