<h1>商品新規登録</h1>
<% if @item.errors.any? %>
    <h3><%= @item.errors.count %>errors prohibited this obj from being saved:</h3>
    <ul>
     <% @item.errors.full_messages.each do |message| %>
     <li><%= message %></li>
     <% end %>
    </ul>
  <% end %>
<%= form_with model: @item, url: admin_items_path do |f| %>
 <h4>商品画像</h4>
 <%= f.file_field :image, accept: "image/*" %>
 <h4>商品名</h4>
 <%= f.text_field :name, placeholder: "商品名" %>
 <h4>商品説明</h4>
 <%= f.text_field :introduction, placeholder: "ここに説明文を記述します" %>
 <h4>ジャンル</h4>
 <%= f.collection_select :genre_id, Genre.all, :id, :name, {prompt: 'ジャンルを選択してください'}, class: 'mclist__select' %>
 <h4>税抜価格</h4>
 <%= f.text_field :price, placeholder: "1000" %>円
 <h4>販売ステータス</h4>
 <%= f.label :is_active, '販売中', value: 1 %>
 <%= f.radio_button :is_active, '1' %>
 <%= f.label :is_active, '販売停止中', value: 0 %>
 <%= f.radio_button :is_active, '0' %>
 <%= f.submit '新規登録' %>
<% end %>
