<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h4 class="bg-light text-center offset-md-2" style="width: 10rem;">商品詳細</h4>
      <br><br>
    </div>
    <div class="col-md-3 offset-md-1">
      <%= image_tag @item.image, size: "250x162" %>
    </div>
    <div class="col-md-6 offset-md-1">
      <table class="table table-borderless">
      <tr>
        <th>商品名</th>
        <td><%= @item.name %></td>
      </tr>
      <tr>
        <th>商品説明</th>
        <td><%= @item.introduction %></td>
      </tr>
      <tr>
        <th>ジャンル</th>
        <td><%= Genre.find(@item.genre_id).name %></td>
      </tr>
      <tr>
        <th>税込価格<br>(税抜価格)</th>
        <td><%= @item.add_tax_price.to_s(:delimited) %>(<%= @item.price.to_s(:delimited) %>)円</td>
      </tr>
      <tr>
        <th>販売ステータス</th>
        <td><%= @item.is_active ? '販売中' : '販売停止中' %></td>
      </tr>
      </table>
      <div class="col-md-12 text-center">
        <%= link_to edit_admin_item_path, class:"btn btn-success" do %> 編集する<% end %>
      </div>
    </div>
  </div>
</div>
