<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <h4 class="bg-light text-center offset-md-1" style="width: 15rem;">管理者ログイン</h4><br>
      <table class="table table-borderless">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <tr>
            <td><%= f.label :メールアドレス %></td>
            <td><%= f.email_field :email, autofocus: true, autocomplete: "email", :size=>"40" %></td>
          </tr>
          <tr>
            <td><%= f.label :パスワード %></td>
            <td><%= f.password_field :password, autocomplete: "current-password", :size=>"40" %></td>
          </tr>
          <tr>
            <td></td>
            <td><%= f.submit 'ログイン', class:'btn btn-primary' %></td>
          </tr>
          <% end %>
          <%= render "admin/shared/links" %>
      </table>
    </div>
  </div>
</div>

