<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <table class="table table-borderless">
        <tbody class="border border-dark">
            <tr class="border-bottom border-dark"><td>ジャンル検索</td></tr>
            <% @genres.each do |genre| %>
            <tr><td><%= genre.name %></td></tr>
            <% end %>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-7 offset-md-1">

      <div class="card bg-dark text-dark">
				<%= image_tag"AAC_1323.jpg", class:'img-fluid' %>
				<div class="card-img-overlay">
          <p class="card-text">ようこそながのCAKEへ！<p>
          <p class="card-text">このサイトは、ケーキ販売のECサイトになります。</p>
          <p class="card-text">会員でない方も商品の閲覧はできますが、購入には会員登録が必要になります。</p>
        </div>
			</div>
		</div>
		<div class="col-md-3"></div>
		<div class="col-md-9">
		  <h2>新着商品</h2><br>
			<table class="table table-borderless">
			  <tbody>
			    <tr><% @items.each do |item| %>
			      <td><%= image_tag item.image, size: '165x105', class:"attachment item image fallback" %></td><% end %>
			    </tr>
			    <tr>
			      <% @items.each do |item| %><td><%= item.name %></td><% end %>
			    </tr>
			    <tr>
			      <% @items.each do |item| %><td><%= item.price %></td><% end %>
			    </tr>
			  </tbody>
			</table>
			<p class="text-right">全ての商品を見る></p>
		</div>


  </div>
</div>