<div class="container">
  <div class="row">
  <h2>会員一覧</h2>
  <table class="table">
    <thead>
      <tr>
        <th>会員ID</th>
        <th>氏名</th>
        <th>メールアドレス</th>
        <th>ステータス</th>
      </tr>
    </thead>
    <tbody>
      <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.id %></td>
        <td><%= link_to admin_customer_path(customer.id) do %><%= customer.last_name %><%= customer.first_name %><% end %></td>
        <td><%= customer.email %></td>
        <td><%= customer.is_active ? '有効' : '退会' %></td>
      </tr>
      <% end %>
      <%= paginate @customers %>
    </tbody>
  </table>
  </div>
</div>