<div class="container">
  <div class="row">
    <div class="mb-2 bg-light text-black font-weight-bold"><%= @customer.last_name %><%= @customer.first_name %>さんの会員情報</div>
    <table class="table table-borderless">
      <tbody>
        <tr>
          <td>会員ID</td>
          <td><%= @customer.id %></td>
        </tr>
        <tr>
          <td>氏名</td>
          <td><%= @customer.last_name %> <%= @customer.first_name %></td>
        </tr>
        <tr>
          <td>フリガナ</td>
          <td><%= @customer.last_name_kana %> <%= @customer.first_name_kana %></td>
        </tr>
        <tr>
          <td>郵便番号</td>
          <td><%= @customer.postal_code %></td>
        </tr>
        <tr>
          <td>住所</td>
          <td><%= @customer.address %></td>
        </tr>
        <tr>
          <td>電話番号</td>
          <td><%= @customer.telephone_number %></td>
        </tr>
        <tr>
          <td>メールアドレス</td>
           <td><%= @customer.email %></td>
        </tr>
        <tr>
          <td>会員ステータス</td>
          <td><%= @customer.is_deleted ? '退会' : '有効' %></td>
        </tr>
        <tr>
          <td></td>
          <td><%= link_to edit_admin_customer_path(@customer.id), class:"btn btn-sm btn-success" do %>編集する<% end %>
              <%= link_to admin_customers_path, class:"btn btn-sm btn-primary" do %>注文履歴一覧を見る<% end %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>