<div class="container">
  <div class="row">
    <div class="mb-2 bg-light text-black font-weight-bold">
     注文履歴詳細
    </div>
    <table class="table table-borderless">
      <tbody>
        <tr>
          <td>購入者</td>
          <td><%= @order.name %></td>
        </tr>
        <tr>
          <td>注文日</td>
          <td><%= @order.created_at.strftime('%Y/%m/%d %H:%M') %></td>
        </tr>
        <tr>
          <td>配送先</td>
          <td>〒<%= @order.postal_code %> <%= @order.address %><br><%= @order.name %></td>
        </tr>
        <tr>
          <td>支払方法</td>
          <td><%= Order.payment_methods_i18n[@order.payment_method] %></td>
        </tr>
        <tr>
          <td>注文ステータス</td>
          <td></td>
        </tr>
      </tbody>
    </table>
    <div class="col-md-7">
    <table class="table">
      <tbody>
        <tr class="bg-light">
          <td>商品名</td>
          <td>単価(税込)</td>
          <td>数量</td>
          <td>小計</td>
          <td>製作ステータス</td>
        </tr>
        <% @order_details.each do |order_detail| %>
        <tr>
          <td><%= order_detail.item.name %></td>
          <td><%= order_detail.item.add_tax_price.to_s(:delimited) %></td>
          <td><%= order_detail.amount %></td>
          <td><%= (order_detail.item.add_tax_price*order_detail.amount).to_s(:delimited) %></td>
          <td></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    </div>
    <div class="offset-md-1 col-md-4">
      <table class="table table-borderless">
        <tr>
          <th>商品合計</th>
          <td><%= @order.subtotal.to_s(:delimited) %>円</td>
        </tr>
        <tr>
          <th>送料</th>
          <td><%= @order.postage.to_s(:delimited) %>円</td>
        </tr>
        <tr>
          <th>請求金額合計</th>
          <td><%= (@order.subtotal += @order.postage).to_s(:delimited) %>円</td>
        </tr>
      </table>
    </div>
  </div>
</div>