<div class="container">
  <div class="row">
    <div class="col-md-8">
      <br>
      <% if @genre.errors.any? %>
        <h3><%= @genre.errors.count %>件のエラーが発生しました</h3>
        <ul>
          <% @genre.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
      <h4 class="bg-light text-center offset-md-1" style="width: 18rem;">ジャンル編集</h4>
      <br>
      <%= form_with model: @genre, url: admin_genre_path do |f| %>
      <table class="table table-borderless">
        <tr>
          <th>ジャンル名</th>
          <td><%= f.text_field :name %></td>
          <td><%= f.submit '変更を保存', class:'btn btn-success' %></td>
        </tr>
      </table>
      <% end %>
    </div>
  </div>
</div>