<div class="container">
  <div class="row">
    <table>
      <thead class="table-borderless">
        <tr><th class="ont-weight-bold bg-light">配送先登録/一覧</th></tr>
      </thead>
      <%= form_with model: @address, url: addresses_path do |f| %>
      <tbody class="table-borderless">
        <tr><td>郵便番号(ハイフンなし)</td><td><%= f.text_field :postal_code %></td></tr>
        <tr><td>住所</td><td><%= f.text_field :address %></td></tr>
        <tr><td>宛名</td><td><%= f.text_field :name %></td><td><%= f.submit '新規登録', class:"btn btn-success" %></td></tr>
      </tbody>
      <% end %>
      <tfoot class="table">
        <tr><td>郵便番号</td><td>住所</td><td>宛名</td><td></td></tr>
        <% @addresses.each do |address| %>
        <tr><td>〒<%= address.postal_code.to_s.insert(3, "-") %></td><td><%= address.address %></td><td><%= address.name %></td>
            <td><%= link_to edit_address_path(address.id), class:"btn btn-success" do %>編集する<% end %></td>
            <td><%= link_to address_path(address.id), class:"btn btn-sm btn-danger", method: :delete, "data-confirm" => "本当に削除しますか？" do %>削除する<% end %></td>
        </tr>
        <% end %>
        <%= paginate @addresses %>
      </tfoot>
    </table>
  </div>
</div>