<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h4 class="bg-light text-center offset-md-1" style="width: 10rem;">注文履歴詳細</h4><br>
    </div>
    <div class="col-md-6">
      <table class="table table-bordered">
        <p>注文情報</p>
        <tr>
          <th>注文日</th>
          <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
        </tr>
        <tr>
          <th>配送先</th>
          <td>〒<%= @order.postal_code %><br><%= @order.address %><br><%= @order.name %></td>
        </tr>
        <tr>
          <th>支払方法</th>
          <td><%= Order.payment_methods_i18n[@order.payment_method] %></td>
        </tr>
        <tr>
          <th>ステータス</th>
          <td></td>
        </tr>
      </table>
    </div>
    <div class="col-md-4">
      <table class="table table-bordered">
        <p>請求情報</p>
        <tr>
          <th>商品合計</th>
          <td><%= @order.subtotal.to_s(:delimited) %></td>
        </tr>
        <tr>
          <th>配送料</th>
          <td><%= @order.postage.to_s(:delimited) %></td>
        </tr>
        <tr>
          <th>ご請求金額</th>
          <td><%= (@order.subtotal += @order.postage).to_s(:delimited) %></td>
        </tr>
      </table>
    </div>
    <div class="col-md-8">
      <table class="table table-bordered">
        <p>注文内容</p>
        <tr>
          <th>商品</th>
          <th>単価（税込）</th>
          <th>個数</th>
          <th>小計</th>
        </tr>
        <% @order_details.each do |order_detail| %>
        <tr>
          <td><%= order_detail.item.name %></td>
          <td><%= order_detail.item.add_tax_price.to_s(:delimited) %></td>
          <td><%= order_detail.amount %></td>
          <td><%= (order_detail.item.add_tax_price*order_detail.amount).to_s(:delimited) %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>