<div class="container">
  <div class="row">
    <div class="col-md-10 mx-auto d-block">
      <%= form_with model: @customer, url: session_path(resource_name) do |f| %>
      <table class="table table-borderless">
        <thead>
          <tr>
            <th><h4 class="font-weight-bold bg-light">ログイン</h4></th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <th class="font-weight-bold bg-light">会員の方はこちらからログイン</th>
          </tr>

          <tr>
            <th>メールアドレス</th>
            <td><%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com" %></td>
          </tr>
          <tr>
            <th>パスワード</th>
            <td><%= f.password_field :password, autocomplete: "current-password" %></td>
          </tr>
          <tr>
            <th></th>
            <td>

             <%= f.submit "ログイン", class: "btn btn-primary" %>

            </td>
          </tr>

        </tbody>

        <tfoot>
          <tr>
            <th class="font-weight-bold bg-light">会員登録がお済みでない方</th>
          </tr>
          <tr>
            <th></th>
            <td><%= render "public/shared/links" %>から新規登録を行なってください。</td>
          </tr>
        </tfoot>
      </table>
      <% end %>
    </div>
  </div>
</div>