<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
     <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
     <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
     <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

  </head>

  <body>
    <header>

           <% if customer_signed_in? %>
            <li>
            <%= link_to destroy_customer_session_path, method: :delete do %>
             publicログアウト
             <% end %>
            </li>
           <% else %>
           <p>ログイン「</p>
           <% end %>
           <% if admin_signed_in? %>
           アドミン
           <%= link_to destroy_admin_session_path, method: :delete do %>
             adminログアウト
            <% end %>
           <% end %>

    </header>
    <main>
    <%= yield %>
    </main>
  </body>
</html>
